<style>
    body {
        color: #EFF3F9;
    }
    .heading-wrapper {
        height: 100%;
        background-color: #0066ffff;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .heading-wrapper h1 {
        color: #00ff00ff;
    }
     .heading-wrapper a {
        text-decoration: none;
        color: #00ff00ff;
        font-size: 1.25em;
        transition: 0.2s ease-in-out;
    }
    .heading-wrapper a:hover {
        color: #EFF3F9;
    }

    .link-wrapper {
        margin-top: 50px;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .link-wrapper a {
        text-decoration: none;
        color:  #0066ffff;
        font-size: 1.25em;
        transition: 0.2s ease-in-out;
    }
    .link-wrapper a:hover {
        color: #002255ff;
    }
</style>

<div class="heading-wrapper">
    <h1>Links</h1>
    <a href="/">Home</a>
</div>
<div class = "link-wrapper"> 
{{#if 1}} <a href={{1}}>{{short1}}</a> {{/if}}
{{#if 2}} <a href={{2}}>{{short2}}</a> {{/if}}
{{#if 3}} <a href={{3}}>{{short3}}</a> {{/if}}
{{#if 4}} <a href={{4}}>{{short4}}</a> {{/if}}
{{#if 5}} <a href={{5}}>{{short5}}</a> {{/if}}
{{#if 6}} <a href={{6}}>{{short6}}</a> {{/if}}
{{#if 7}} <a href={{7}}>{{short7}}</a> {{/if}}
{{#if 8}} <a href={{8}}>{{short8}}</a> {{/if}}
{{#if 9}} <a href={{9}}>{{short9}}</a> {{/if}}
{{#if 10}} <a href={{10}}>{{short10}}</a> {{/if}}
{{#if 11}} <a href={{11}}>{{short11}}</a> {{/if}}
{{#if 12}} <a href={{12}}>{{shot12}}</a> {{/if}}
{{#if 13}} <a href={{13}}>{{short13}}</a> {{/if}}
{{#if 14}} <a href={{14}}>{{short14}}</a> {{/if}}
{{#if 15}} <a href={{15}}>{{short15}}</a> {{/if}}
{{#if 16}} <a href={{16}}>{{short16}}</a> {{/if}}
{{#if 17}} <a href={{17}}>{{short17}}</a> {{/if}}
{{#if 18}} <a href={{18}}>{{short18}}</a> {{/if}}
{{#if 19}} <a href={{19}}>{{short19}}</a> {{/if}}
{{#if 20}} <a href={{20}}>{{short20}}</a> {{/if}}
</div>



